<div class="center">
    <h1>シェアカレンダーへようこそ！</h1>
    <h2>シェアカレンダーではフォローしたユーザーのスケジュールを見ることができます</h2>
    <h2><%= link_to "使い方を見る", using_path %></h2>
    <%= link_to "アカウントを作成する",'#',class: "btn btn-lg btn-primary" %>
</div>