<div class="center top-page">
    <h1>お忙しい中、ポートフォリオをご覧いただき<br>
        誠にありがとうございます</h1>
    <h2>当ポートフォリオ『シェアスケジュール』はフォローしたユーザーのスケジュールをまとめて確認できる<br>
        ウェブアプリケーションです。<br>
    <h2>是非、下記『お試しログイン』よりアプリケーションをご使用ください。<br>
    <%= link_to "お試しログイン", login_path(session: {email: "gest@example.com"}),method: :post ,class: "btn btn-lg btn-secondary emphasize" %></h2>

    <h2>なお、本アプリは<%= link_to "Ruby on Rails チュートリアル", "https://railstutorial.jp/" %>の内容を参考に作成しております。</h2>
    <p>本アプリケーションの機能及び構成</p>
    <p>本アプリケーションの使用手順</p>
    <ol class="top-page-list">
        <li>&#9312; 下記のアカウント作成ボタンをクリックしアカウントを作成します</li>
        <li>&#9313; tayejiachuan@gmail.com よりアカウントアクティベーション依頼のメールが届きます</li>
        <li>&#9314; 登録が完了しましたら、ユーザー一覧からユーザーをフォローします</li>
        <li>&#9315; 「みんなのスケジュール」でフォローしたユーザーのスケジュールを確認できます</li>
        <li>&#9316; スケジュールを追加したい日付をクリックするとスケジュールを新規登録できます</li>
    </ol>
    
    <%= link_to "アカウントを作成する", new_user_path ,class: "btn btn-lg btn-secondary" %>
    <h2><%= link_to "使い方を見る", using_path %></h2>
</div>