<div class="center top-page">
    <h1>シェアスケジュールへようこそ！</h1>
    <h2>シェアスケジュールではフォローしたユーザーのスケジュールを見ることができます</h2>
    
    <p>本アプリケーションの使用手順</p>
    <ol class="top-page-list">
        <li>&#9312; 下記のアカウント作成ボタンをクリックしアカウントを作成します</li>
        <li>&#9313; tayejiachuan@gmail.com よりアカウントアクティベーション依頼のメールが届きます</li>
        <li>&#9314; 登録が完了しましたら、ユーザー一覧からユーザーをフォローします</li>
        <li>&#9315; 「みんなのスケジュール」でフォローしたユーザーのスケジュールを確認できます</li>
        <li>&#9316; スケジュールを追加したい日付をクリックするとスケジュールを新規登録できます</li>
    </ol>
    
    <%= link_to "アカウントを作成する", new_user_path ,class: "btn btn-lg btn-secondary" %>
    <h2><%= link_to "使い方を見る", using_path %></h2>
</div>