<div class="center top-page">
    <h1>お忙しい中、ポートフォリオをご覧いただき<br>
        誠にありがとうございます</h1>
    <p><span class="emphasize-text">是非、下記『お試しログイン』よりアプリケーションをご使用ください。</span></p>
    <%= link_to "お試しログイン", login_trial_user_path, class: "btn btn-lg btn-secondary emphasize" %>
    <p>※お試しログインで入力した内容はログアウト時に全て削除されます</p>
    <p>当ポートフォリオ『シェアスケジュール』はフォローしたユーザーのスケジュールをまとめて確認できる<br>
       ウェブアプリケーションです。<br>
       本アプリは<%= link_to "Ruby on Rails チュートリアル", "https://railstutorial.jp/" %>の内容を参考に作成しております。</p>　
    <h2>アプリケーションの機能</h2>
    <ol class="top-page-list">
        <li class="top-list"><span class="li-strong">ユーザーのCRUD機能</span><br>※Session&Cookieの学習のためdevice gemは使用しておりません</li>
        <li><span class="li-strong">お試しログイン機能 Facebookログイン機能</span><br>※device gemを使用しないFacebook認証を実装しております</li>
        <li><span class="li-strong">ユーザーのフォロー/アンフォロー機能</span><br>※Ajaxを使用したことで複数名のフォロー/アンフォローの操作をスムーズにしています</li>
        <li><span class="li-strong">スケジュールのCRUD機能</span><br>※simple calendar gem を使用</li>
        <li><span class="li-strong">フォローしたユーザーのスケジュールを確認する機能</span></li>
    </ol>
    <h2>アプリケーションのインフラ構成</h2>
    <ol class="top-page-list">
        <li class="top-list"><span class="li-strong">Web3層構成(AWS EC2を4台使用)</span><br>
            Webサーバー：Nginx ※Route53にて独自ドメイン・https化<br>
            アプリケーションサーバー：Puma・Rails<br>
            データベースサーバー：MySQL<br>
            NATサーバー：プライベートサブネット内のサーバーの外部通信用（作業時踏み台サーバーとしても使用）</li>
    </ol>
    <h2>開発環境</h2>
    <ol class="top-page-list">
        <li class="top-list"><span class="li-strong">Docker</span></li>
        <li><span class="li-strong">バージョン管理</span><br>Git(GitHub)</li>
        <li><span class="li-strong">OS</span><br>Linux Windows Mac</li>
    </ol>
    <%= link_to "お試しログイン", login_trial_user_path, class: "btn btn-lg btn-secondary emphasize" %>
    <%= link_to "アカウントを作成する", new_user_path ,class: "btn btn-lg btn-secondary" %>
</div>