<%= provide(:first_title, "使い方") %>
<div class="center top-page using">
  <h2>使い方</h2>
  <ol class="top-page-list using-list">
    <h3>アカウントの作成手順</h3>
    <li><%= link_to "アカウント新規作成", new_user_path %>より必要事項を入力しアカウントを作成します</li>
    <li>シェアスケジュール事務局<"tayejiachuan@gmail.com">よりアカウントアクティベーション依頼のメールが届きます</li>
    <li>メールを開いてアクティベーションが完了します</li>
    <h3>シェアスケジュールの使い方</h3>
    <li>ユーザー一覧よりユーザーをフォローします<br>
        ※ユーザーをクリックすることで選択したユーザーのスケジュールを確認することもできます</li>
    <li>「みんなのスケジュール」でフォローしたユーザーのスケジュールが確認できます</li>
    <li>スケジュールを追加したい日付をクリックすることでスケジュールを新規登録できます</li>
    <li>スケジュール一覧ページより、スケジュールをクリックすることでスケジュール詳細を開くことができます</li>
    <li class="last-list">スケジュール詳細からスケジュールを編集/削除することができます<br>
        ※管理者以外のユーザーでは自分が作成したスケジュール以外を編集/削除することはできません</li>
  </ol>
</div>