<%= provide(:first_title, "使い方") %>
<div class="center top-page using">
  <p>使い方</p>
  <ol class="top-page-list using-list">
    <li>ヘッダーにある「ユーザー一覧」から好きなユーザーをフォローすることができます</li>
    <li>ヘッダーにある「みんなのスケジュール」でフォローしたユーザーのスケジュールをまとめて確認できます</li>
    <li>カレンダーの日付をクリックすると新規のスケジュールを作成できます</li>
    <li>作成されたスケジュールをクリックすることで詳細を確認できます<br>
      自分が作成したスケジュールは内容を変更することも可能です<br>
      ※管理者ユーザーはすべてのスケジュール及びユーザーを削除できます</li>
  </ol>
</div>