<%= week_calendar number_of_weeks: 2 do |date| %>
  <div class="schedule_date"><%= link_to "#{date.month} / #{date.day}" ,"/meeting/#{date}/new" %></div>

  <!-- カレンダーの各日のレコードをページネーションを使って取得 -->
  <!-- パラメータからdateを受け取ることで日付事のページ番号を受け取る -->
  <% @meetings =  current_user.feed.where( "start_time LIKE ?" , "#{date.to_s}%").paginate(page: params[:"#{date}"], per_page: 3) %>
  
  <%= render 'shared/calender' %>

  <!--　param_name: "#{date}"で日付事のページ番号をパラメータに追加  -->
  <%= will_paginate @meetings, :previous_label => ' &lt ', :next_label => ' &gt',
      inner_window: 0, outer_window: 0 ,param_name: "#{date}" %>    
    
<% end %>
